######################################################
# ignore files list
# https://help.github.com/articles/ignoring-files
######################################################

#Ubuntu GUI backup files
*~
*.swp

